@media screen and (max-width: 1856px) {
    .portfolio__blocks {

        width: 97%;

    }
}

@media screen and (max-width: 1700px) {
    .about__content {

        width: 80%;

    }
}

@media screen and (max-width: 1251px) {

    .services__blocks1, .services__blocks2 {
        display: initial;

    }

    .services__block {
        margin-left: 200px;
        margin-bottom: 20px;
    }

    .services__gr-bl-blocks {
        margin-top: 150px;
    }

    .services__blocks {
        width: 100%;
    }
}

@media screen and (max-width: 1563px) {

    .portfolio__portf-block {
        width: 420px;
    }

    .portfolio__space {
        width: 420px;

    }
    .div-work__working{
        padding-left: 7%;
        padding-right: 7%;
    }
}
@media screen and (max-width: 1424px) {
    .div-work__working{
        padding-left: 6%;
        padding-right: 6%;
    }
}
@media screen and (max-width: 1319px) {
    .sec-portfolio {
        height: 1970px;
    }

    .portfolio__blocks {
        display: initial;
        margin: auto;
    }

    .portfolio__portf-block {
        width: 700px;
        margin: auto auto 20px;
    }

    .portfolio__space {
        width: 700px;

    }

    .about__content {

        width: 95%;

    }

    .contact__mail h1 {
        font-size: 40px;
    }

    .contact__mail h3 {
        font-size: 35px;
    }
    .div-work__working{
        padding-left: 5%;
        padding-right: 5%;
    }
}
@media screen and (max-width: 1183px) {
    .div-work__working{
        padding-left: 3%;
        padding-right: 3%;
    }
}
@media screen and (max-width: 1087px) {
    .about__text1, .about__text2 {
        width: 400px;
    }

    .break {
        height: 625px;

    }
}

@media screen and (max-width: 1015px) {
    .services__block {
        margin-left: 50px;
    }
    .div-work__working{
        padding-left: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 903px) {
    .services__gr-bl-blocks {
        display: none;
    }

    .about__figures {
        margin-top: 20px;
        padding-left: 25%;
    }

    .about__text1, .about__text2 {
        width: 800px;
    }

    .sec-about {
        height: 1825px;

    }

    .about h5 {
        margin-bottom: 10px;
    }

    .services__block {
        margin: auto auto 20px;
    }

    .div-work {
        display: initial;
    }

    .div-work__working {
        height: 300px;
        width: 400px;
    }

    .div-work__working img {
        padding-top: 30px;
    }

    .sec-services h1, .sec-portfolio h1, .sec-about h1 {
        font-size: 100px;
        line-height: 45px;

    }

    .services h5, .portfolio h5, .about h5 {
        font-size: 20px;
    }

    .contact__mail h1 {
        margin-left: 7%;
    }

    .contact__mail h3 {
        margin-left: 10%;
    }

    .sec-about {
        height: 700px;
    }

}

@media screen and (max-width: 833px) {
    .about__text1 {
        width: 720px;

    }

    .about__text2 {
        width: 720px;


    }
}

@media screen and (max-width: 779px) {
    .about__text1 {
        width: 600px;

    }

    .about__text2 {
        width: 600px;
    }

    .about__text {
        margin-left: 300px;

    }

    .sec-contact h1 {
        font-size: 100px;
        line-height: 45px;

    }

    .contact h5 {
        font-size: 20px;
    }

    .contact__mail h1 {
        font-size: 30px;
    }

    .contact__mail h3 {
        font-size: 22px;
    }

    .sec-contact {
        height: 500px;
    }
}

@media screen and (max-width: 756px) {
    .portfolio__portf-block {
        width: 550px;
    }

    .portfolio__space {
        width: 550px;

    }


}

@media screen and (max-width: 625px) {
    .about__text {
        margin-right: 50px;
    }

    .about__text1 {
        font-size: 15px;
        width: 400px;

    }

    .about__text2 {
        font-size: 12px;
        width: 400px;
        margin: auto;
    }

    .about__figures {
        padding-left: 80px;
    }

    .contact__networks {
        margin-left: 15%;
    }
}

@media screen and (max-width: 572px) {
    .portfolio__portf-block {
        width: 350px;
    }

    .portfolio__space {
        width: 350px;
        height: 270px;

    }
.sec-portfolio{
    height: 1600px;
}
    .about__figures {
        padding-left: 20px;
    }
}

@media screen and (max-width: 480px) {
    .sec-services h1, .sec-portfolio h1, .sec-about h1, .sec-contact h1 {
        font-size: 95px;
        line-height: 40px;

    }

    .services h5, .portfolio h5, .about h5, .contact h5 {
        font-size: 15px;
    }

    .services__block img {
        padding-right: 20px;
    }



    .services__block-text p {
        width: 225px;
    }

    .services__block {
        padding-bottom: 80px;

    }
 .services__block img{
padding-left: 18%;
}
    .about__text1 {
        width: 300px;

    }

    .about__text2 {
        width: 300px;
    }

    .about__figures {
        display: none;
    }

    .contact__mail h1 {
        font-size: 20px;
    }

    .contact__mail h3 {
        font-size: 15px;
    }

    .contact__networks {
        margin-left: 5%;
    }

    .sec-about {
        height: 370px;
    }

}
@media screen and (max-width: 450px) {
    .services__block img{
        padding-left: 12%;
    }
    .services__block{
        width: 80%;
    }
}
@media screen and (max-width: 426px) {
    .contact__networks {
        margin-left: 8%;
    }

    .contact__networks span {
        margin-bottom: 10px;
    }

    .contact__network-img {
        display: flex;
        justify-content: space-between;


    }

    .services__block img{
        padding-left: 8%;
    }
    .div-work__working {
        width: 90%;
    }
}

@media screen and (max-width: 398px) {
    .sec-services h1, .sec-portfolio h1, .sec-about h1, .sec-contact h1 {
        font-size: 70px;
        line-height: 30px;

    }
    .sec-about {
        height: 570px;
    }
    .services h5, .portfolio h5, .about h5, .contact h5 {
        font-size: 15px;

    }

    .contact__mail h1 {
        font-size: 20px;
    }

    .contact__mail h3 {
        font-size: 15px;
    }

    .portfolio__portf-block {
        width: 300px;
    }

    .portfolio__space {
        width: 300px;
        height: 222px;

    }

    .portfolio {

        height: 1520px;
    }

    .about__text1 {
        width: 200px;
        margin-left: 100px;

    }

    .about__text2 {
        width: 200px;
        margin-left: 100px;

    }

    .about__spacing {
        width: 80%;
        margin-left: 100px;

    }
.services__blocks1, .services__blocks2{
    text-align: center;
}
    .services__block img{
margin-left: 110px;
    }
    .services__block {
width: 90%;
        padding-bottom: 100px;

    }
    .services__block-text{
        padding-left: 50px;
    }
}
@media screen and (max-width: 320px) {
    .services__block img{
        margin-left: 90px;
    }
    .services__block-text{
        padding-left: 30px;
    }
}