
ul,p{
    margin: 0;
    padding: 0;
}
.burger{
    width: 100%;
    background-color: #2c4755;
color: #ffffff;
    font-size: 29px;
    font-family: 'Work Sans', sans-serif;
    line-height: 35px;

 position: fixed;
    top: 0;
    left: 0;
    z-index: 50;
}

.burger__content {
padding-left: 60px;
    padding-top: 33px;
}
.burger__content img{
    margin-bottom: 25px;
    cursor: pointer;
}
.header-list{
    list-style-type: none;
padding-bottom: 55px;
}
.header-list li{
}
.header-list a, .burger__header-menu a{
    text-decoration: none;
    color: #ffffff;
}
.burger__title{
    color: #637988;
    font-size: 21px;
    padding-bottom: 25px;
}
.burger__get-Social{
    margin-top: 40px;
}